.contact-page .hero-header h1 {
    font-size: 60px;
    margin-top: 30px;
}

.contact-page .hero-copy p {
    margin: 15px auto 20px auto;
    width: 75%;
}

.contact-cards {
    width: 100%;
    margin-bottom: 60px;
}

.contact-cards .container {
    display: flex;
    gap: 20px;
}

.contact-card {
    padding: 24px;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    flex: 1;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
}

.contact-card p {
    text-align: left;
    margin-bottom: 10px;
}

.contact-card p {
    font-weight: 500;
    letter-spacing: -0.02em;
}

.contact-card span {
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.6);
}

.contact-card .hero-callout {
    margin: 40px 0 0 0;
}

.contact-items {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.c-item {
    padding: 40px;
    flex: 1;
}

.c-item p {
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
}

.c-item span {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}

.c-item a {
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
}

@media(max-width: 800px) {
    .contact-page .hero-copy p {
        width: 100%;
    }

    .contact-cards .container {
        flex-direction: column;
    }

    .contact-items {
        flex-direction: column;
    }
}