@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --color-bg-primary: #ffffff;
    --transparent: hsla(0,0%,0%,0);
    --color-border: rgba(0,0,0,.08);
    --color-text-primary: #1a1a1a;
    --color-brand-bg: #5e6ad2;
    --color-brand-text: #fff;
    --color-text: rgb(60, 60, 60);
    --color-accent: #7877C6;
    --color-glass-bg: rgba(255, 255, 255, 0.7);
    --color-glass-border: rgba(0, 0, 0, 0.1);
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
  }

html, body {
    width: 100%;
    height: 100%;
    font-family: "Inter", sans-serif;
    background: var(--color-bg-primary);
    color: var(--color-text-primary);
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

body {
    overflow-x: hidden;
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.wrapper {
    position: relative;
    z-index: 0;
}

.page-content {
    padding-bottom: 100px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.task-img img,
.blog-img img {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 80px;
    line-height: 1;
    letter-spacing: -0.02em;
    font-weight: 500;
    background: #1a1a1a;
    background: linear-gradient(to bottom, #1a1a1a 0%, #5e6ad2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
}


a {
    text-decoration: none;
    color: var(--color-text-primary);
}

i {
    position: relative;
    top: 1.5px;
}

.divider {
    width: 100%;
    height: 1px;
    margin: 75px 0;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0) 100%);
}


@media(max-width: 900px) {
    .container {
        padding: 2em;
    }
}